.sidebarContainer {
  @apply h-full w-[300px] py-12 px-2 flex flex-col justify-between min-w-[220px];
}

.items {
  @apply flex flex-col justify-between gap-3;
}

.item {
  @apply pl-4 py-2 text-white text-base font-semibold hover:bg-[rgba(240,240,240,0.7)] hover:transition-colors duration-400 ease-in-out hover:text-primary rounded-2xl flex justify-start items-center gap-4;
}

.active {
  @apply bg-white text-primary hover:bg-white;
}

.logo {
  @apply flex items-center text-white text-[28px] font-semibold gap-3 ml-2 min-w-12 min-h-12;
}

.contacts {
  @apply flex gap-3 ml-5;
}
@media (max-width: 768px) {
  .name {
    @apply hidden;
  }
  .sidebarContainer {
    @apply fixed bottom-0 left-0 h-auto w-full flex-row bg-primary py-2;
    z-index: 40;
  }
  .logo {
    @apply hidden;
  }
  .items {
    // @apply flex-row w-full justify-around;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    width: 100%;
  }
  .contacts {
    @apply hidden;
  }
  .item {
    @apply flex-col gap-1 p-3 text-sm;
  }
}
