.lessons {
  @apply mx-1 mt-3 flex flex-col justify-center gap-3;
}

.active {
  @apply bg-red-500 text-white rounded-xl;
}

.calendareDates {
  @apply grid grid-cols-7;
}

.calendareDate {
  @apply mx-auto text-center p-1 w-fit flex items-center justify-center text-lg font-medium;
}

@media (min-width: 576px) and (max-width: 1199px) {
  .calendareDates {
    grid-template-columns: repeat(7, 150px);
    max-width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

@media (max-width: 576px) {
  .calendareDates {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    grid-template-rows: repeat(7, auto);
    max-width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .calendareDate {
    @apply text-lg font-medium;
  }
}
